*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  /*inline-size: 1280px;
  block-size: 100%;
  margin: auto;*/
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-top: 264px;
  padding-left: 11px;
  padding-right: 28px;

  
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  
  /*margin: 139px 26px 1600px;*/
  margin: auto;
  margin-left: 39.9px;
  width: 95%;
  height: inherit;
  padding-top: -1px;
}

.result {
  max-width: 2422px;
  height: 850px;
  /*border: 3px solid #fff;*/
  margin-top: 70px;
}

.result__video-container {
  width: 1422px;
  height: 772px;
  /*width: 100%;*/
  
  /*display: block;*/
  /*display: inline-block*/
  margin: 78px 0 33px;            /*  this margin shifts header up/down  */
  /*width: 1424px;*/
  /*width: auto;*/
  /*height: auto;*/
}

.result__video {
  /*width: 100%;*/
  /*height: 799px;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;


  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 37px;
}

.search-form__fieldset {
  


  border: none;
  height: 86px;
  /*background-color: aqua;*/
}

.search-form__fieldset-title {


  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 30px;
  margin-top: 9px;
}

.search-form__label {
  display: flex;
  
}

.search-form__pseudo-checkbox {
  width: 34.5px;
  height: 34.5px;

position: relative;
inset: 5px 3px 0 0;


  background-color: #000;
  border: 2.8px solid #000;
  outline: 2.6px solid #fff;



  margin-right: 12px;             /*     HERE!!!        */
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}




.search-form__textfield {
  margin-top: 11px;
  position: relative;
  width: 450px;
  letter-spacing: -0.25px;
  height: 52px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
}

.search-form__textfield::placeholder {
  position: absolute;
  left: -1px;
}

.button {
  box-sizing: border-box;  
  display: inline-block;
  appearance: none;
  height: 67.7px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #FFFFFF;

  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;  
  letter-spacing: -0.3px;  
}

.search-form__submit-button {
  width: 388px;
  position: relative;
  top: 40px;
}








.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.title {
  font-family: 'Oswald', sans-serif;  
  font-size: 149px;
  /*word-spacing: 0;*/
  letter-spacing: 1px;
  /*font-style: normal;*/
  /*font-weight: 700;*/
  line-height: 94%;  
  text-transform: uppercase;
  margin-bottom: 45px;
  word-spacing: -3px;


  position: relative;
}

.content__accent {
  color: #545050;
  
}

.content__title-hyphen {
  position: absolute;
  background-image: url(../images/hyphen.jpg);
  height: 15px;
  width: 39px;
  inset: 70.6px 0 0 188px;  
}

.content__list {
  display: flex;
  flex-direction: column;  
  gap: 32px;
  box-sizing: border-box;



}

.content__list-item {
  margin-bottom: 28px;
  /*padding: 3px 1px; */
  /*background-color: yellowgreen;*/
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: auto 393px;
  padding: 3px 1px;  
}

       /*     div: content__video-card-description-container       */

.content__video-card-description-container {
  width: 393px;
  padding-left: 3px;  
  padding-right: 6px;
  padding-top: 6px;
}

.content__video-card-title {
  font-style: Oswald;
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
  -webkit-transform: scaleY(1.2);
  -moz-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  -o-transform: scaleY(1.2);
  transform: scaleY(1.2);
  line-height: 62.3px;
}

.content__video-card-description {
  margin-bottom: 2px;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  /*line-height: 16px;*/
  /* or 90% */
  flex-grow: 0;
}







.content__card-link {
  text-decoration: none;
  color: #fff;
}



.content__video-card-thumbnail {
  width: 390px;
  height: 209px;
  position: relative;
  left: 9px;
}