*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  width: 100%;
  height: 100%;

  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-top: 264px;
  padding-left: 52px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/ /*      TRY ANOTHER ONE!!!       */
  grid-template-columns: 0.64fr 0.36fr;
  grid-column-gap: 60px;
  /*margin: auto;*/
  /*margin-left: 39.9px;
  margin-right: 39.9px;*/
  width: 95%;
  height: inherit;
  padding-top: -1px;
}

.result {
  max-width: 2422px;
  height: 850px;
  margin-top: 70px;
}

.result__video-container {
  width: 1422px;
  height: 772px;
  margin: 78px 0 33px; /*  this margin shifts header up/down  */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  height: 108px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 37px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__fieldset:has(.search-form__label) {
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 30px;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  padding-left: 1px;
  padding-bottom: 8px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(.search-form__textfield:focus-visible),
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover
  .search-form__label-text {
  /*      checkbox hover       */
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 34.5px;
  height: 34.5px;
  margin-top: 4px;
  background-color: #000;
  border: 2.8px solid #000;
  outline: 2.6px solid #fff;
  margin-right: 12px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__label > .search-form__textfield {
  width: 450px;
  letter-spacing: -0.2px;
  word-spacing: -11px;
  height: 52px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  color: #fff;
}

.search-form__textfield::placeholder {
  position: absolute;
  left: -1px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  appearance: none;
  height: 67.7px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffffff;

  text-decoration: none;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.button:hover {
  text-decoration: underline;
  outline: none;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.button:not(:hover, :focus-visible) {
  text-decoration: none;
  outline: none;
}

.search-form__submit-button {
  width: 388px;
  align-self: end;
}

.more-button {
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 149px;
  /*word-spacing: 0;*/
  letter-spacing: 1px;
  /*font-style: normal;*/
  /*font-weight: 700;*/
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 43px;
  word-spacing: -3px;

  position: relative;
}

.content__accent {
  color: #545050;
}

.content__title-hyphen {
  position: absolute;
  background-image: url(../images/hyphen.jpg);
  height: 15px;
  width: 39px;
  inset: 70.6px 0 0 188px;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 59px;
  box-sizing: border-box; /*   WHY THIS PROPERTY EVERYWHERE ???    */
  margin-right: 66px;
  box-sizing: border-box;
  height: 600px;
  overflow: auto;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list {
  padding: 3px 3px;
}

.content__list-item {
  /*outline: 2px solid #fff;
  outline-offset: 1px;*/
  padding: 4px 0 4px 0;
  /*background-color: #545050;*/
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;

  /*padding-left: 3px;*/
}

.content__card-link_current {
  background-color: rgb(84, 80, 80);
  box-shadow: -4px 3px 0 rgba(84, 80, 80, 1), -4px -3px 0 rgba(84, 80, 80, 1);
  /*margin-left: 3px;     ЗАСЧЕТ МАРДЖИН-ЛЭФТ МОЖНО КОНТЕЙНЕР СДВИГАТЬ     */
}

.content__video-card {
  /*display: grid;
  grid-template-columns: auto 393px;
  padding: 3px 1px;*/
  display: flex;
}

.content__video-card-description-container {
  width: 402px;
  /*padding-left: 3px;  */
  padding-right: 6px;
  padding-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-title {
  font-style: Oswald;
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;

  /*line-height: 62.3px;*/
  margin: 0;

  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  /*margin-bottom: 2px;*/
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  min-width: 390.1px;
  height: 206px;
  object-fit: cover;
  object-position: center;
}

/*     EXPERIMENT BELOW !!!!!!!     */

.content__video-card-description-container .content__video-card-title,
.content__video-card-description-container .content__video-card-description {
  position: relative;
  display: inline-block; /* Allows the underline to be closer to the text */
}

.content__video-card-description-container .content__video-card-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px; /* This controls the distance of the underline from the text */
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
}

.content__video-card-description-container
  .content__video-card-description::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px; /* This controls the distance of the underline from the text */
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
}

.content__video-card-description-container:hover
  .content__video-card-title::after,
.content__video-card-description-container:hover
  .content__video-card-description::after {
  transform: scaleX(1);
}
